TimeWeb/TimeClientWS/Service References/Services/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TimeWeb.models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TimeWeb.models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TimeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Temperature" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeModel" nillable="true" type="tns:TimeModel" />
</xs:schema>